.form__save {
    padding: 0;
    padding-top: 48px;
    padding-bottom: 37px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 36px;
    margin-right: 36px;
}