.profile__photo-edit {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    background: transparent;
    background-image: url(../../../images/profile__photo-edit.svg);
    background-repeat:no-repeat;
    background-position: center;
    box-sizing: border-box;
}

.profile__photo-edit:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 900px)  {
    .profile__photo-edit {
        width: 186px;
    }
}

@media screen and (max-width: 606px)  {
    .profile__photo-edit {
        min-width: 282px;
        margin-top: 32px;
        background-size: 16px;
    }
}