.popup__close {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(/images/Close\ Icon.svg);
    background-repeat: no-repeat;
}

.popup__close:hover {
    cursor: pointer;
    opacity: .6;
}

@media screen and (max-width: 380px) {
    .popup__close {
        width: 20px;
        height: 20px;
        background-size: cover;
        top: -36px;
        right: 0px;
    }
}