.elements__like {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
}

.elements__like:checked + .elements__visible {
    background-image: url(../../../images/like-checked.svg);
}

.elements__like:hover + .elements__visible {
    cursor: pointer;
    background-image: url(../../../images/like-hover.svg);
}

.elements__like:checked:hover + .elements__visible {
    background-image: url(../../../images/like-checked.svg);
}