.profile__info {
    display: flex;
    gap: 30px;
    align-items: center;
}

@media screen and (max-width: 606px)  {
    .profile__info {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
}